<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            padding: 5px;
            border: 1px solid grey;
        }
    </style>
</head>

<body>

<div>
    <a th:href="@{'/products'}">Products</a>&nbsp;
    <a th:href="@{'/add-product'}">Add product</a>&nbsp;
    <hr>
</div>

<h2>
    List of products:
</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Minimum Stock</th>
        <th>Available</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.description}">Description</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.minimumStock}">Minimum Stock</td>
        <td th:text="${product.available != null ? product.available : 'N/A'}">Available</td>
        <td>
            <a th:href="@{'/products/' + ${product.id} + '/edit'}">
                Edit
            </a>
            <a th:href="@{'/products/' + ${product.id} + '/delete'}"
               onclick="return confirm('Are you sure you want to delete?')">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
